.checklist-container,.checklist-sub-container{
    padding: 10px;
}
.checklist-item{
    border:1px solid lightgray;
    padding: 10px;
    border-radius: 8px;
}
.checklist-sub-item{
    border:1px solid lightgray;
    padding: 10px;
    border-radius: 8px;
    position: relative;
}
.delete-item{
    position: absolute;
    right: 22px;
}
.delete-sub-item{
    position: absolute;
    right: 10px;
}