.profile-link{
    color: #1c2e5b;
    background-color: rgba(28, 46, 91, 0.16) !important;
}
.top-btn{
    padding: 0.4375rem 1.25rem;
    font-size: 0.9375rem;
    border-radius: 0.375rem;
}
#css-dropdown
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 300px;
    height: 42px;
    margin: 100px auto 0 auto;
}
span.select2-selection.select2-selection--multiple {
    height: 38px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    border-right: none !important;
    left: unset;
    top:unset;
    right: 6px;
    /* display: none; */
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove>span{
    display: none;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    padding: 3px 20px 3px 6px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover, .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus{
    background: unset;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove::after{
    content:url('/assets/img/icons/close.svg');
    position: absolute;
    right: 0px;
    cursor: pointer;
}